@media (min-width: 768px) {
    .h-md-100 {
        height: 130vh;
    }
}

.btn-round {
    border-radius: 30px;
}

.bg-indigo {
    background: white;
}

.text-cyan {
    color: #35bdff;
}

h4 h5 {
    font-weight: 100;
}

img {
    width: 50%;
    height: auto;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.containerheader {
    margin-top: auto;
    width: 100%;
    height: 100%;
    padding: 1%;
    display: inline-block;
    margin-bottom: 10px;
}

.middlearea {
    width: 100%;
    height: 100%;
    padding: 1%;
    display: inline-block;
    margin-bottom: 10px;
    background-color: black;
}

.responsive-iframe {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 800px;
    border: none;
}

.containeriframe {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
}