h2 {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.responsive-iframe {
    position: solid;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 800px;
    border: none;
}

.bottom {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 20px 0px 40px 0px;
}

.next {
    margin-right: 30px;
}