html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    position: relative;
}

#top {
    height: 60%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: gold;
}

#bottom {
    position: absolute;
    top: 60%;
    bottom: 0;
    width: 100%;
    background-color: orange;
    overflow-y: auto;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 5px red solid
}