{% extends "layout.html" %}
{% block content %}
    <div class = "content-section">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class = "from-group">
          <legend class = "border-bottom mb-4">Lets get Staterd! </legend>
          <dir class = "form-group">
            {{form.fullname.label(class="form-control-label")}}
            {{form.fullname(class="form-control form-control-lg")}}
          </dir>
          <dir class = "form-group">
            {{form.birthdate.label(class="form-control-label")}}
	          {{  form.birthdate(class="form-control form-control-lg") }}
          </dir>
          <dir class = "form-group">
            {{form.email.label(class="form-control-label")}}
            {{form.email(class="form-control form-control-lg")}}
          </dir>
        </fieldset>
      </form>
      <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </div>
    
{% endblock content %}