{% extends "layout.html" %}       
       
{% block content %} 
<style>
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    position: relative;
}

#top {
    height: 60%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: gold;
}

#bottom {
    position: absolute;
    top: 60%;
    bottom: 0;
    width: 100%;
    background-color: orange;
    overflow-y: auto;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 5px red solid
}
</style>

    <div id="top"></div>
    <div id="bottom">
      <div class="box">Item #1</div>
      <div class="box">Item #2</div>
      <div class="box">Item #3</div>
      <div class="box">Item #4</div>
      <div class="box">Item #5</div>

     <div class="box">Item #1</div>
      <div class="box">Item #2</div>
      <div class="box">Item #3</div>
      <div class="box">Item #4</div>
      <div class="box">Item #5</div>
    </div>
{% endblock content %}
